---
import "../styles/style.css";
import Reflection from "../content/reflection.md";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <title>Ashiyah Meide - ENC2135</title>
  </head>
  <body>
    <header>
      <nav>
        <ol>
          <li><a href="#reflection">Reflection</a></li>
          <li><a href="#project1">Project 1</a></li>
          <li><a href="#project2">Project 2</a></li>
        </ol>
      </nav>
    </header>
    <main>
      <article id="reflection">
        <h2>Reflection</h2>
        <Reflection />
      </article>
      <article id="project1">Project 1 here</article>
      <article id="project2">Project 2 here</article>
    </main>
  </body>
</html>
