---
import "../styles/style.css";
import Reflection from "../content/reflection.md";
import RhetoricalRationale from "../content/rationale.md";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <title>Ashiyah Meide - ENC2135</title>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>ENC2135 - Project 3</h1>
        <p>Ashiyah Meide</p>
      </hgroup>
      <nav>
        <ul>
          <li><a href="#reflection">Reflection</a></li>
          <li><a href="#project1">Project 1</a></li>
          <li><a href="#project2">Project 2</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article id="reflection">
        <h2>Reflection</h2>
        <Reflection />
      </article>
      <article id="project1">
        <h2>Project 1</h2>
        <object
          data="project1.pdf"
          type="application/pdf"
          width="100%"
          height="500px"
        >
          <p>
            It looks like your browser doesn't support embedded PDFs.
            <a href="project1.pdf" download>
              Click here to download the Project 1 PDF instead.
            </a>
          </p>
        </object>
      </article>
      <article id="project2">
        <h2>Project 2</h2>
        <section>
          <h3>Rhetorical Rationale</h3>
          <RhetoricalRationale />
        </section>
        <section>
          <h3>Short-Form Video</h3>
          <video src="project2.mp4" width="100%" height="500px" controls>
            <p>
              It looks like your browser doesn't support embedded videos.
              <a href="project2.mp4" download>
                Click here to download the Project 2 video instead.
              </a>
            </p>
          </video>
        </section>
        <section
          aria-roledescription="carousel"
          aria-labelledby="carousel-heading"
        >
          <h3 id="carousel-heading">Social Media Carousel</h3>
          <ol class="carousel-container">
            <li>
              <img
                src="project2_1.png"
                alt="The internet runs on free labor."
              />
            </li>
            <li>
              <img
                src="project2_2.png"
                alt="A huge portion of the software you use every day is open source. That means it's built and maintained by public volunteers."
              />
            </li>
            <li>
              <img
                src="project2_3.png"
                alt="Apps dont exist alone. They depend on layers of shared code."
              />
            </li>
            <li>
              <img
                src="project2_4.png"
                alt="One small project can support thousands of apps. Thousands."
              />
            </li>
            <li>
              <img
                src="project2_5.png"
                alt="Sometimes it's maintained by one person. Yes, really."
              />
            </li>
            <li>
              <img
                src="project2_6.png"
                alt="That means critical systems depend on unpaid work. If it fails, everything built on it fails too, like a Jenga tower."
              />
            </li>
            <li>
              <img
                src="project2_7.png"
                alt="We fund roads. We fund utilities. Why not the software everything runs on?"
              />
            </li>
          </ol>
        </section>
      </article>
    </main>
    <footer>
      <p>
        This portfolio was created by Ashiyah Meide using
        <a href="https://astro.build/">Astro</a>
        and
        <a href="https://github.com/catppuccin/catppuccin">Catppuccin Mocha</a>.
        The source code is available on GitHub.
      </p>
      <a href="https://github.com/ashi-meide/enc2135">
        <svg
          width="24"
          height="24"
          viewBox="0 0 1024 1024"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"
            transform="scale(64)"></path>
        </svg>
      </a>
    </footer>
  </body>
</html>
